# =========================================
# Dataset
# =========================================
data/raw/
data/processed/

# Local dataset configuration
configs/data.local.yaml

# =========================================
# Model weights and YOLO results
# =========================================
weights/*
!weights/README.md

runs/
*.pt
*.onnx
*.engine

# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================================
# Environment variables
# =========================================
.env
.env.*
!.env.example

# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/

# =========================================
# IDE
# =========================================
.vscode/
.idea/

# =========================================
# Operating system
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Temporary files
# =========================================
*.tmp
*.log
outputs/temp/

# Baseline model weights
!outputs/baseline/
!outputs/baseline/*/
!outputs/baseline/*/weights/
!outputs/baseline/*/weights/*.pt
